:host::ng-deep{
  .p-dropdown{
    min-width:217px;
  }
  .p-dropdown:not(.p-disabled).p-focus{
    box-shadow: 0 0 0 0.2rem rgba(117, 117, 117, 0.25);
    border-color:rgba(117, 117, 117, 0.47)
  }

  .p-dropdown:not(.p-disabled):hover{
    border-color: rgba(117, 117, 117, 0.79)
  }
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight{
    color:#495057;
    font-weight:600;
  }

  .p-rating .p-rating-icon.p-rating-icon-active,
  .p-rating .p-rating-icon{
    color: #FACC83FF;
  }
  .p-rating:hover  .p-rating-icon{
    color: #F6DCB4FF;
  }
}

.goods-category-main__sort{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 30px;
}

.goods-category-dropdown{
  flex: 0 0 auto;
  align-items: center;
  display: flex;
  margin-left: auto;
}
.goods-category-dropdown__label{
  color: #495057;
  font-size: 1rem;
  font-weight: 400;
  margin-right: 10px;
}
.list-grid-container{
  align-items: stretch;
  display: grid;
  grid-gap: 30px 40px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  justify-items: stretch;
}

.list-grid-container a{
  display: block;
}
.list-grid-container .link__img{
  display: flex;
}
.goods-card__img{
  max-width:220px;
  margin: auto;
}
.goods-card__title{
  min-height: 48px;
}
.basket-button{
  width: 100%;
  background: #FE9E6C;
  color: #fff;
  border: 1px solid #df9067;
  height: 40px;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 600;
  border-radius: 5px;
}
.basket-button:hover {
  background: #F2864E;
  border: 1px solid #F2864E;
}

a{
  display:block;
  color: var(--bs-body-color);
  text-decoration:none;
}

a:hover {
  color: #444F62B6;
  text-decoration: underline;
}


