<div class = "goods-category-main__sort">
  <div class = "goods-category-dropdown">
    <label class = "goods-category-dropdown__label">Сортировать по </label>
    <form [formGroup]="formGroup">
      <p-dropdown formControlName='selectedItem' [options]="sortMenuItems"
                  optionLabel="name"
                  (onChange)="sortGoodsList()"></p-dropdown>
    </form>
  </div>
</div>

<div *ngIf="goodsList" class = "list-grid-container">
    <div class="product-item"
    *ngFor="let item of goodsList">
        <div class="product-item-content">
          <div class="p-2">
            <a class = "link__img" [routerLink]="['/handmade',categoryUrl,subcategoryUrl,item.product_number]"
               [state]="{id:item._id}">
              <img class = "goods-card__img" src="http://localhost:3000/public/{{categoryUrl}}/{{subcategoryUrl}}/{{item.img }}" alt ="{{item.title}}"/>
            </a>
          </div>
          <div class="p-2">
            <div class="goods-card__title">
              <a [routerLink]="['/handmade',categoryUrl,subcategoryUrl,item.product_number]"
                 [state]="{id:item._id}">{{item.title}}</a>
            </div>
            <div class = "mt-2 fw-bold">
              <p>
                <span>{{item.price}} руб.</span>
              </p>
            </div>
            <div>
              <a [routerLink]="['/handmade',categoryUrl,subcategoryUrl,item.product_number]"
                 [state]="{id:item._id}">
                <p-rating [(ngModel)]="item.total_rating" [readonly]="true" [cancel]="false"></p-rating>
              </a>
            </div>
            <div>
              <button class = "basket-button"type="button">
                <svg width="25" height="25" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M20.75 6.5H18.25C18.25 3 15.5 0.25 12 0.25C8.5 0.25 5.75 3 5.75 6.5H3.25C1.875 6.5 0.75 7.625 0.75 9V24C0.75 25.375 1.875 26.5 3.25 26.5H20.75C22.125 26.5 23.25 25.375 23.25 24V9C23.25 7.625 22.125 6.5 20.75 6.5ZM12 2.75C14.125 2.75 15.75 4.375 15.75 6.5H8.25C8.25 4.375 9.875 2.75 12 2.75ZM20.75 24H3.25V9H20.75V24ZM12 14C9.875 14 8.25 12.375 8.25 10.25H5.75C5.75 13.75 8.5 16.5 12 16.5C15.5 16.5 18.25 13.75 18.25 10.25H15.75C15.75 12.375 14.125 14 12 14Z" fill="#fff"/>
                </svg>
                <span>В корзину</span>
              </button>
            </div>
          </div>
        </div>
      </div>
</div>


