:host::ng-deep {
  .p-breadcrumb {
    border: none;
  }

  .p-breadcrumb ul {
  }

  .p-breadcrumb ul li .p-menuitem-link:focus,
  .p-breadcrumb ul li .p-menuitem-link:hover {
    box-shadow: none;
    text-decoration: underline;
    color: #495057;
  }

  .p-breadcrumb ul li:last-child > .p-menuitem-link {
    cursor: default;
    text-decoration: none;
    font-weight: 600;
  }
  .p-radiobutton {
   margin: 0 1rem;
  }

  .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
    border-color: rgba(117, 117, 117, 0.47)!important;
  }

  .p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: rgba(117, 117, 117, 0.47)!important;
    background: #30A8B4;
  }

  .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    border-color: rgba(117, 117, 117, 0.47)!important;
    background: #30A8B4;
    color: #ffffff;
  }

  .p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus,
  .p-focus,
  {
    box-shadow: none !important;
  }

 #total .p-datatable-thead tr {
  background: #f8f9fa;
}
  #total .p-datatable-tbody tr{
  background: #f8f9fa;
  }
  .pi {
    font-size: .7rem;
  }
}


.breadcrumb-nav-container{
  margin: 0 auto;
  max-width: 1735px;
}

.cart-container{
    margin: 0 auto;
    max-width: 1735px;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 30px;
    margin-bottom: 64px;
  }

.cart-inner{
    margin: 0 auto;
    width: 1470px;
  }

.cart-header{
    border-bottom: 1px solid #d2d2d2;
    color: #495057;
    display: flex;
    font-size: 15px;
    margin: 40px 0 16px;
    padding-bottom: 19px;
}

.icon__span{
   margin-right: 1rem;
   width: 32px;
 }

.cart-title{
    font-size: 32px;
    font-weight: 700;
    line-height: .95;
    margin-right: 10px;
    color: #495057;
  }
.cart-nav{
  margin-left: auto;
}
.back-to-shopping{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
    text-decoration: underline;
 }

.back-to-shopping:hover {
  color: #444F62B6;
  text-decoration: underline;
}

.cart-content{
    column-gap: 20px;
    display: grid;
    grid-template-rows: auto 1fr;
    margin-bottom: 70px;
   grid-template-columns: 1fr 400px;
 }

.cart-message{
    align-items: center;
    background-color: #30A8B4;
    color: #fff;
    display: flex;
    padding: 6px 8px;
    font-weight: 500;
    }

.goods-img-container{
  width: 80px;
  height: auto;
}
.goods-item-img{
  width: 100%;
  height: auto;
}
a{
  display:block;
  color: var(--bs-body-color);
  text-decoration:none;
}
.goods-item-info{
  font-weight: 500;
  font-size:1.2rem;
}
.goods-total-price{
  font-size: 1.2rem;
  font-weight: 600;
}

.delivery-title{
  padding: 30px 16px 10px;
  font-size: 1.5rem;
  color: #495057;
}

.delivery-option-container{
  display: flex;
}
.delivery-checkbox-container{
  margin-right: 1rem;
}
.delivery-form{
  min-width:945px;
}
.cart-aside-container{
  display:flex;
  flex-direction: column;
   background-color: #f8f9fa;
   border-radius: 4px;
   border: 1px solid #495057;
   color: #495057;
   margin-bottom: 20px;
   padding: 20px 20px 30px;
}

.cart-aside-title{
  font-size: 1.5rem;
  text-align: center;
  color: #495057;
  font-weight: 700;
  margin-bottom: 2rem;
}

.goods-card-rating-button{
  background: #30A8B4;
  color: #fff;
  border: 1px solid #2F9CA6FF;;
  font-weight: 600;
  border-radius: 40px;
  height:40px;
  width: 272px;
  transition: transform .5s ease-in-out;
}

.goods-card-rating-button:hover{
  background: #2A8E98FC;
  border: 1px solid #277F88FC;
}

.goods-card-rating-button:active{
  background: #2A8E98FC;
  border: 1px solid #277F88FC;
  transform: scale(0.70);
  transition: transform .5s ease-in-out;
}

.order-button{
  display: flex;
  margin: auto;
  margin-top:40px;
  margin-bottom: 40px;
}

.goods-card-stepper{
  display: flex;
  width:90px;
}
.button-disabled> i{
  color: #acacac!important;
}
.goods-card-stepper-button{
  border: 1px solid #acacac;
  color: #000000FF;
  cursor: pointer;
  display: block;
  min-height: 25px;
  min-width: 25px;
  text-align: center;
  touch-action: manipulation;
  background-color: #fff;
}
.goods-card-stepper-input{
  appearance: none;
  border-color: #acacac;
  border-radius: 0;
  border-style: solid;
  border-width: 1px 0;
  box-shadow: none;
  font-size: 15px;
  font-weight: 500;
  min-height: 25px;
  min-width: 25px;
  padding: 0;
  text-align: center;
  width: 100%;
  background-color: #fff;
}
.goods-card-stepper-input:focus,
.goods-card-stepper-input:focus-visible{
  appearance: none;
  outline: none;
}
.goods-card-stepper-button:active{
  box-shadow: 0 0 0 0.2rem rgba(117, 117, 117, 0.25);
  border-color:rgba(117, 117, 117, 0.47);
  transform: scale(0.98);
}
.goods-card-stepper-button.button-disabled:active{
  box-shadow: none;
  transform: none;
  border-color: #acacac;
}

.cart_product-remove{
    appearance: none;
    background: none;
    border: 0;
    border-radius: 0;
    padding: 0;
    color: #757575;
    margin-bottom: 10px;
   }

