<div class = "breadcrumb-nav-container">
  <p-breadcrumb class="max-w-full"
                [model]="items" [home]="home">
  </p-breadcrumb>
</div>

<div class = "cart-container">
  <div class = "cart-inner">
    <div class = "cart-header">
      <span class = "icon__span">
          <svg width="28" height="30" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M20.75 6.5H18.25C18.25 3 15.5 0.25 12 0.25C8.5 0.25 5.75 3 5.75 6.5H3.25C1.875 6.5 0.75 7.625 0.75 9V24C0.75 25.375 1.875 26.5 3.25 26.5H20.75C22.125 26.5 23.25 25.375 23.25 24V9C23.25 7.625 22.125 6.5 20.75 6.5ZM12 2.75C14.125 2.75 15.75 4.375 15.75 6.5H8.25C8.25 4.375 9.875 2.75 12 2.75ZM20.75 24H3.25V9H20.75V24ZM12 14C9.875 14 8.25 12.375 8.25 10.25H5.75C5.75 13.75 8.5 16.5 12 16.5C15.5 16.5 18.25 13.75 18.25 10.25H15.75C15.75 12.375 14.125 14 12 14Z" fill="#495057"/>
              </svg>
    </span>
      <h1 class = "cart-title">Корзина</h1>
      <nav class = "cart-nav">
        <a class = "back-to-shopping" href="#">Продолжить покупки</a>
      </nav>

    </div>

    <div class = "cart-content">
      <main>
        <div class = "cart-message">
          <span class = "mx-3">
            <svg width="25" height="21" viewBox="0 0 25 21" focusable="false">
                <path d="M24.375 14.25C24.5573 14.25 24.7005 14.3151 24.8047 14.4453C24.9349 14.5495 25 14.6927 25 14.875V16.125C25 16.3073 24.9349 16.4635 24.8047 16.5938C24.7005 16.6979 24.5573 16.75 24.375 16.75H22.5C22.5 17.7917 22.1354 18.6771 21.4062 19.4062C20.6771 20.1354 19.7917 20.5 18.75 20.5C17.7083 20.5 16.8229 20.1354 16.0938 19.4062C15.3646 18.6771 15 17.7917 15 16.75H10C10 17.7917 9.63542 18.6771 8.90625 19.4062C8.17708 20.1354 7.29167 20.5 6.25 20.5C5.20833 20.5 4.32292 20.1354 3.59375 19.4062C2.86458 18.6771 2.5 17.7917 2.5 16.75V11.75H8.4375C8.64583 11.75 8.75 11.6458 8.75 11.4375V10.8125C8.75 10.6042 8.64583 10.5 8.4375 10.5H0.3125C0.104167 10.5 0 10.3958 0 10.1875V9.5625C0 9.35417 0.104167 9.25 0.3125 9.25H9.6875C9.89583 9.25 10 9.14583 10 8.9375V8.3125C10 8.10417 9.89583 8 9.6875 8H1.5625C1.35417 8 1.25 7.89583 1.25 7.6875V7.0625C1.25 6.85417 1.35417 6.75 1.5625 6.75H10.9375C11.1458 6.75 11.25 6.64583 11.25 6.4375V5.8125C11.25 5.60417 11.1458 5.5 10.9375 5.5H0.3125C0.104167 5.5 0 5.39583 0 5.1875V4.5625C0 4.35417 0.104167 4.25 0.3125 4.25H2.5V2.375C2.5 1.85417 2.68229 1.41146 3.04688 1.04688C3.41146 0.682292 3.85417 0.5 4.375 0.5H14.375C14.8958 0.5 15.3385 0.682292 15.7031 1.04688C16.0677 1.41146 16.25 1.85417 16.25 2.375V4.25H17.9688C18.4896 4.25 18.9323 4.43229 19.2969 4.79688L23.2031 8.70312C23.5677 9.06771 23.75 9.51042 23.75 10.0312V14.25H24.375ZM4.92188 18.0781C5.28646 18.4427 5.72917 18.625 6.25 18.625C6.77083 18.625 7.21354 18.4427 7.57812 18.0781C7.94271 17.7135 8.125 17.2708 8.125 16.75C8.125 16.2292 7.94271 15.7865 7.57812 15.4219C7.21354 15.0573 6.77083 14.875 6.25 14.875C5.72917 14.875 5.28646 15.0573 4.92188 15.4219C4.55729 15.7865 4.375 16.2292 4.375 16.75C4.375 17.2708 4.55729 17.7135 4.92188 18.0781ZM17.4219 18.0781C17.7865 18.4427 18.2292 18.625 18.75 18.625C19.2708 18.625 19.7135 18.4427 20.0781 18.0781C20.4427 17.7135 20.625 17.2708 20.625 16.75C20.625 16.2292 20.4427 15.7865 20.0781 15.4219C19.7135 15.0573 19.2708 14.875 18.75 14.875C18.2292 14.875 17.7865 15.0573 17.4219 15.4219C17.0573 15.7865 16.875 16.2292 16.875 16.75C16.875 17.2708 17.0573 17.7135 17.4219 18.0781ZM21.875 10.5V10.0312L17.9688 6.125H16.25V10.5H21.875Z" fill="currentColor"></path>
            </svg>
          </span>
          <p class = "mb-0">Бесплатная доставка на заказы от 5000 руб.!</p>
        </div>
   <p-table [value]="cartItemsWithStock" [tableStyle]="{ 'min-width': '900px' }">
          <ng-template pTemplate="header">
            <tr>
              <th>Товар</th>
              <th></th>
              <th>Количество</th>
              <th>Итого</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product let-index>
            <tr>
              <td>

                <div class = "goods-img-container">
                  <a [routerLink]="['/handmade', product.category, product.subcategory, product.product_number]"
                  [state]="{id:product.itemID}">
                    <img class = "goods-item-img"
                    src="http://localhost:3000/public/{{product.category}}/{{product.subcategory}}/{{product.img}}"
                    alt ="{{product.title}}"/>
                  </a>
               </div>

              </td>
              <td>
                <div class = "goods-item-info">
                  <a [routerLink]="['/handmade', product.category, product.subcategory, product.product_number]"
                     [state]="{id:product.itemID}">
                    {{product.title}}, артикул: {{product.product_number}}
                  </a>
                </div>
                <div class = "goods-item-info">
                  {{product.price}} руб.
                </div>
              </td>

              <td>
              <div class = "goods-card-stepper">
                  <button class="goods-card-stepper-button"
                          (click)="decreaseQuantity(product)"
                          [disabled]="setMinusButtonState(product)"
                          [ngClass]="setMinusButtonState(product)? 'button-disabled': ''">
                     <i class="pi pi-minus " style="color: #000000;"></i>
                  </button>
                  <input  type="text" id="quantity"
                          readonly = "readonly"
                          class = "goods-card-stepper-input"
                          [(ngModel)] = "product.quantity"/>
                  <button #plusButton  [id] = "product.itemID" class="goods-card-stepper-button"
                         (click)="increaseQuantity(product)"
                         [disabled]="setPlusButtonState(product)"
                         [ngClass]="setPlusButtonState(product)? 'button-disabled': ''">
                      <i class="pi pi-plus" style="color: #000000;"></i>
                  </button>
                </div>
           <!-- <div class = "goods-item-info">
                  {{product.quantity}}
                </div> -->
             </td>
              <td>
                <div class = "goods-item-info mb-2">
                  <span class = "goods-total-price">{{ product.quantity * product.price }}</span> руб.
               </div>
                <div>
                  <button class="cart_product-remove" type="button"
                  (click)="removeItemFromCart(product)">
                <span>
                   <i class="pi pi-times" style="font-size: 1rem"></i>
                </span>
                    Удалить
                  </button>
                </div>

             </td>
           </tr>
          </ng-template>
        </p-table>

    <h2 class ="delivery-title">Доставка</h2>
       <div class = "delivery-container px-3">

         <div class="card flex">
           <form class="flex flex-column gap-4 p-3 delivery-form" [formGroup]="formGroup">
             <div *ngFor="let option of deliveryOptions" class="field-checkbox">
               <p-radioButton [inputId]="option.key" [value]="option" formControlName="selectedCategory"
                              (onClick)="totalCartInfo()"></p-radioButton>

               <div class="ml-4 flex-grow-1">
                    <label class="mt-3 fw-semibold" [for]="option.key">{{ option.name }}</label>
                    <p>{{option.description}}</p>
               </div>

               <div class = "fw-semibold">
                 <span *ngIf="option.price">{{option.price}} </span><span>{{option.currency}}</span>
               </div>

             </div>
           </form>
         </div>
     </div>
  </main>

      <aside>
        <div class = "cart-aside-container">
          <h2 class="cart-aside-title">Ваш заказ</h2>
         <p-table id = "total" [value]="cartTotal" [tableStyle]="{ 'min-width': '200px', 'background': '#f8f9fa' }">
            <ng-template pTemplate="body" let-item>
              <tr>
               <td>
                  <div class = "goods-item-info">
                   <p>Заказ:</p>
                  </div>
               </td>
                <td>
                  <div class = "goods-item-info">
                    <p>{{item.order}} руб.</p>
                  </div>
                </td>
            </tr>

              <tr>
                <td>
                  <div class = "goods-item-info">
                    <p>{{item.delivery_type}}:</p>
                  </div>
                </td>
                <td>
                  <div class = "goods-item-info">
                    <p>{{item.delivery_price}} руб.</p>
                  </div>
                </td>
              </tr>


             <tr>
               <td>
                 <div class = "goods-item-info fw-bold">
                   <p>ИТОГО:</p>
                 </div>
               </td>
               <td>
                 <div class = "goods-item-info fw-bold">
                   <p>{{item.order + item.delivery_price}} руб.</p>
                 </div>
               </td>
            </tr>
        </ng-template>
     </p-table>
            <div class="order-button">
              <button  class = "goods-card-rating-button"
              (click)="checkOut()">Оформить заказ</button>
            </div>

     </div>
  </aside>

</div>

 </div>

  <p-toast></p-toast>
</div>
