:host::ng-deep {
   .card {
 flex-direction: row;
 justify-content: start;
 margin-bottom: 1rem;
  }
  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color:rgba(117, 117, 117, 0.47)!important;
  }

  .p-checkbox .p-checkbox-box.p-highlight {
    border-color: rgba(117, 117, 117, 0.47)!important;
    background: #30A8B4;
    box-shadow: 0 0 0 0.2rem rgba(117, 117, 117, 0.25)!important;
  }
  .p-checkbox-box:not(.p-checkbox-disabled).p-focus,
  .p-checkbox-box:not(.p-checkbox-disabled) .p-component .p-checkbox-focused{
    border-color: rgba(117, 117, 117, 0.47)!important;
    box-shadow: 0 0 0 0.2rem rgba(117, 117, 117, 0.25)!important;
  }

  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
   background: #30A8B4;
   }
}


.goods-category-main__aside{
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 100%;
  padding-top: 20px;
}

.goods-category_aside-container{
   max-height: calc(100vh - 60px);
   overflow-x: hidden;
   overflow-y: scroll;
   padding-right: 1rem;
   position: sticky;
   top: 60px;
  }
.goods-category_aside-title{
    color: #444F62;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 16px;
 }

.filter-section{
   border-top: 1px solid #d2d2d2;
 }
.filter-title{
  color: #495057;
  font-size: 1rem;
  margin-top: 1rem;
}
.filter-content{
    padding: 0 8px 12px;
}
.filter-inner{
  margin-left: 1rem !important;
}
