<aside class="goods-category-main__aside">
  <div class = "goods-category_aside-container">
    <h2 class = "goods-category_aside-title">Фильтры</h2>
    <div>
      <section class = "filter-section">
        <h3 class = "filter-title">Группа товаров</h3>
        <div class = "filter-content">
         <div class="card flex mt-4 ">
            <div class="flex flex-column gap-2 mt-3 filter-inner">
              <div *ngFor="let category of categories_type" class="field-checkbox">
                <p-checkbox name="group" [value]="category"
                            [(ngModel)]="selectedCategories"
                            [inputId]="category.key"
                            (onChange)="filterGoodsList($event.checked)"></p-checkbox>
                <label [for]="category.key">{{ category.name }}</label>
              </div>
            </div>
          </div>
        </div>
      </section>

        <section class = "filter-section">
          <h3 class = "filter-title">Цвет</h3>
          <div class = "filter-content">
            <div class="card flex mt-4">
              <div class="flex flex-column gap-2 mt-3 filter-inner">
                <div *ngFor="let category of categories_color" class="field-checkbox">
                  <p-checkbox name="group" [value]="category"
                              [(ngModel)]="selectedCategories"
                              [inputId]="category.key"
                              (onChange)="filterGoodsList($event.checked)"></p-checkbox>
                  <label [for]="category.key">{{ category.name }}</label>
                </div>
              </div>
            </div>
          </div>
        </section>
    </div>
  </div>

</aside>
