<div class="header">
  <div class = "header__logo">
    <a href="#" class="logo__link">
      <img src="./assets/img/logo.png" alt="Ручная работа" class="logo__img">
    </a>
  </div>


   <div class="header__middle">
    <button type="button" class="button__search" (click)="sidebarState()">
      <span class = "button__search__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
      </span>
      Поиск на сайте
    </button>
 </div>

  <p-sidebar [(visible)]="sidebarVisible" position="top" styleClass="h-auto">
     <app-search-modal></app-search-modal>
  </p-sidebar>


  <div class="header__right">
    <div class="header__icons">

   <!--   <a href="#" class="icon__link" title="Вход" id="user"
         #linkUser
         (mouseover)="changeSVGStyle($event,linkUser)"
         (mouseout)="changeSVGStyle($event,linkUser)">
          <span class = "icon__span">
              <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path [ngStyle]= "{'fill': linkUser.id ===iconId ? svgStyleOnHover: '#30A8B4'}" d="M14.5714 16.61H9.42857C4.22143 16.61 0 20.8947 0 26.18C0 27.1408 0.767679 27.92 1.71429 27.92H22.2857C23.2323 27.92 24 27.1408 24 26.18C24 20.8947 19.7786 16.61 14.5714 16.61ZM2.62446 25.31C3.04768 21.8789 5.93571 19.22 9.42857 19.22H14.5714C18.0621 19.22 20.9518 21.8816 21.375 25.31H2.62446ZM12 14C15.787 14 18.8571 10.8838 18.8571 7.03999C18.8571 3.19622 15.787 0.0799866 12 0.0799866C8.21304 0.0799866 5.14286 3.19622 5.14286 7.03999C5.14286 10.8843 8.2125 14 12 14ZM12 2.68999C14.363 2.68999 16.2857 4.64151 16.2857 7.03999C16.2857 9.43847 14.363 11.39 12 11.39C9.63696 11.39 7.71429 9.43792 7.71429 7.03999C7.71429 4.64151 9.6375 2.68999 12 2.68999Z" fill="#30A8B4"/>
  </svg>
           </span>
       </a>-->

        <a href="tel:+79998887677" class="icon__link" title="Телефон" id="tel"
           #linkTel
           (mouseover)="changeSVGStyle($event,linkTel)"
           (mouseout)="changeSVGStyle($event,linkTel)">
          <span class = "icon__span">
             <svg width="28" height="28" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path [ngStyle]="{'fill': (linkTel.id ===iconId) ? svgStyleOnHover:'#30A8B4'}" d="M4.4475 9.63875C6.0675 12.8225 8.6775 15.4325 11.8612 17.0525L14.3363 14.5775C14.6512 14.2625 15.09 14.1725 15.4838 14.2963C16.7437 14.7125 18.0938 14.9375 19.5 14.9375C19.7984 14.9375 20.0845 15.056 20.2955 15.267C20.5065 15.478 20.625 15.7641 20.625 16.0625V20C20.625 20.2984 20.5065 20.5845 20.2955 20.7955C20.0845 21.0065 19.7984 21.125 19.5 21.125C14.4277 21.125 9.56322 19.1101 5.97658 15.5234C2.38995 11.9368 0.375 7.07227 0.375 2C0.375 1.70163 0.493526 1.41548 0.704505 1.2045C0.915483 0.993526 1.20163 0.875 1.5 0.875H5.4375C5.73587 0.875 6.02202 0.993526 6.233 1.2045C6.44397 1.41548 6.5625 1.70163 6.5625 2C6.5625 3.40625 6.7875 4.75625 7.20375 6.01625C7.3275 6.41 7.2375 6.84875 6.9225 7.16375L4.4475 9.63875Z" fill="#30A8B4"/>
</svg>
          </span>
       </a>

    <!--   <a href="#" class="icon__link" title="Избранное" id = "wish"
          #linkWish
          (mouseover)="changeSVGStyle($event,linkWish)"
          (mouseout)="changeSVGStyle($event,linkWish)">
          <span class = "icon__span">
              <svg width="28" height="28" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path [ngStyle]="{'fill': (linkWish.id ===iconId) ? svgStyleOnHover:'#30A8B4'}" d="M11.4375 2.93751L11.9578 3.50001L12.5203 2.93844C14.0906 1.40797 16.2656 0.711412 18.4031 1.06719C21.6328 1.60532 24 4.40001 24 7.67657V7.94844C24 9.89375 23.1938 11.7547 21.7687 13.0813L13.2984 20.9891C12.9469 21.3172 12.4828 21.5 12 21.5C11.5172 21.5 11.0531 21.3172 10.7016 20.9891L2.23078 13.0813C0.807656 11.7547 0 9.89375 0 7.94844V7.67657C0 4.40001 2.36813 1.60532 5.59688 1.06719C7.69219 0.711412 9.90938 1.40797 11.4375 2.93751C11.4375 2.93797 11.3953 2.93751 11.4375 2.93751ZM11.9578 6.68282L9.84844 4.48907C8.83125 3.51313 7.3875 3.05001 5.96719 3.28626C3.82266 3.64391 2.25 5.50157 2.25 7.67657V7.94844C2.25 9.27032 2.79891 10.5359 3.76594 11.4359L12 19.1234L20.2359 11.4359C21.2016 10.5359 21.75 9.27032 21.75 7.94844V7.67657C21.75 5.50157 20.175 3.64391 18.0328 3.28626C16.6125 3.05001 15.1687 3.51313 14.1516 4.48907L11.9578 6.68282Z" fill="#30A8B4"/>
</svg>
          </span>
       </a>-->


      <!-- <a href="#" class="icon__link" title ="FAQ" id="faq"
          #linkFAQ
          (mouseover)="changeSVGStyle($event,linkFAQ)"
          (mouseout)="changeSVGStyle($event,linkFAQ)">
           <span class = "icon__span">
               <svg width="28" height="28" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
<path [ngStyle]="{'fill': (linkFAQ.id ===iconId) ? svgStyleOnHover:'#30A8B4'}" d="M11.0001 9.91666C10.7128 9.91666 10.4372 10.0308 10.2341 10.234C10.0309 10.4371 9.91677 10.7127 9.91677 11V14.25C9.91677 14.5373 10.0309 14.8129 10.2341 15.016C10.4372 15.2192 10.7128 15.3333 11.0001 15.3333C11.2874 15.3333 11.563 15.2192 11.7661 15.016C11.9693 14.8129 12.0834 14.5373 12.0834 14.25V11C12.0834 10.7127 11.9693 10.4371 11.7661 10.234C11.563 10.0308 11.2874 9.91666 11.0001 9.91666ZM11.0001 6.66666C10.7858 6.66666 10.5764 6.73019 10.3982 6.84923C10.2201 6.96827 10.0812 7.13746 9.99923 7.33542C9.91724 7.53337 9.89578 7.75119 9.93758 7.96134C9.97938 8.17148 10.0826 8.36452 10.2341 8.51602C10.3856 8.66753 10.5786 8.77071 10.7888 8.81251C10.9989 8.85431 11.2167 8.83285 11.4147 8.75086C11.6126 8.66887 11.7818 8.53001 11.9009 8.35186C12.0199 8.17371 12.0834 7.96425 12.0834 7.74999C12.0834 7.46267 11.9693 7.18712 11.7661 6.98396C11.563 6.78079 11.2874 6.66666 11.0001 6.66666ZM11.0001 0.166656C9.57745 0.166656 8.16872 0.446869 6.85436 0.991295C5.54 1.53572 4.34574 2.3337 3.33978 3.33967C1.30813 5.37131 0.166766 8.12681 0.166766 11C0.157295 13.5016 1.02346 15.9276 2.6151 17.8575L0.448432 20.0242C0.298112 20.1765 0.196282 20.37 0.155794 20.5801C0.115305 20.7903 0.137971 21.0077 0.220932 21.205C0.310912 21.3999 0.456778 21.5637 0.640016 21.6756C0.823254 21.7875 1.0356 21.8424 1.2501 21.8333H11.0001C13.8733 21.8333 16.6288 20.692 18.6604 18.6603C20.6921 16.6287 21.8334 13.8732 21.8334 11C21.8334 8.12681 20.6921 5.37131 18.6604 3.33967C16.6288 1.30802 13.8733 0.166656 11.0001 0.166656ZM11.0001 19.6667H3.86093L4.86843 18.6592C4.97079 18.5588 5.05223 18.4392 5.10802 18.3071C5.16381 18.1751 5.19284 18.0333 5.19343 17.89C5.18936 17.6042 5.07255 17.3317 4.86843 17.1317C3.4499 15.7147 2.56654 13.8497 2.36885 11.8545C2.17116 9.85929 2.67137 7.85725 3.78426 6.18947C4.89715 4.5217 6.55387 3.29138 8.47216 2.70813C10.3904 2.12488 12.4516 2.22478 14.3045 2.99081C16.1574 3.75685 17.6874 5.14162 18.6337 6.90921C19.5801 8.67679 19.8844 10.7178 19.4947 12.6846C19.1049 14.6513 18.0453 16.4221 16.4964 17.6953C14.9475 18.9684 13.0051 19.6651 11.0001 19.6667Z" fill="#30A8B4"/>
</svg>
          </span>
        </a>-->

        <a href="#" class="icon__link" title="Корзина" id="basket"
           #linkBasket
           (mouseover)="changeSVGStyle($event,linkBasket)"
           (mouseout)="changeSVGStyle($event,linkBasket)"
           [routerLink]="['/handmade/cart']">
          <span class = "icon__span">
                <svg width="28" height="30" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
<path [ngStyle]="{'fill': (linkBasket.id ===iconId) ? svgStyleOnHover:'#30A8B4'}" d="M20.75 6.5H18.25C18.25 3 15.5 0.25 12 0.25C8.5 0.25 5.75 3 5.75 6.5H3.25C1.875 6.5 0.75 7.625 0.75 9V24C0.75 25.375 1.875 26.5 3.25 26.5H20.75C22.125 26.5 23.25 25.375 23.25 24V9C23.25 7.625 22.125 6.5 20.75 6.5ZM12 2.75C14.125 2.75 15.75 4.375 15.75 6.5H8.25C8.25 4.375 9.875 2.75 12 2.75ZM20.75 24H3.25V9H20.75V24ZM12 14C9.875 14 8.25 12.375 8.25 10.25H5.75C5.75 13.75 8.5 16.5 12 16.5C15.5 16.5 18.25 13.75 18.25 10.25H15.75C15.75 12.375 14.125 14 12 14Z" fill="#30A8B4"/>
</svg>
          </span>
        </a>

    </div>
  </div>
</div>


