.header{
  display:flex;
  margin:0 auto;
  max-width: 1420px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
}
.header__logo{
  min-width:442px;
}
.logo__link{
  display:flex;
  align-items: center;
  height: 96px;
  width: 200px;
 }
.logo__img{
  height: 100%
}
.header__middle{
  flex:1;
  max-width: 360px;
}
.button__search{
  align-items: center;
  background:#f8f9fa;
  border: none;
  border-radius: 40px;
  color: #757575;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  padding: 0 15px;
  line-height: 45px;
  text-align: left;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
 }
.button__search:hover{
  border: 1px solid rgba(117, 117, 117, 0.47);
// transition:border .5s ease-in;
  }
.button__search:active{
  box-shadow: 0 0 8px hsl(185, 58%, 45%);
 // transition:box-shadow .5s ease-in-out;
}
.button__search__icon {
  align-items: center;
  color: #757575;
  display: flex;
  height: 24px;
  margin-right: 12px;
  }
.header__right{
  min-width: 375px;
}
.header__icons{
  display: flex;
  justify-content:center;
}

.icon__link{
  align-items: center;
  display: flex;
  width: 75px;
  justify-content: center;
}

.icon__span{
  align-items: center;
  display: flex;
  height: 32px;
  justify-content: center;
 }

