:host::ng-deep{
  .p-breadcrumb{
    border: none;
  }
  .p-breadcrumb ul{
    font-weight: 600;
  }
  .p-breadcrumb ul li .p-menuitem-link:focus,
  .p-breadcrumb ul li .p-menuitem-link:hover{
    box-shadow: none;
    text-decoration: none;
    cursor: default;

    }
  .p-breadcrumb ul li:first-child >.p-menuitem-link {
    cursor: pointer;
    font-weight: 400;
   }
}

.breadcrumb-nav-container{
  margin: 0 auto;
  max-width: 1735px;
}

.goods-category-header{
  margin:0 auto;
  margin-top: 30px;
  max-width: 1735px;
  padding-left: 80px;
  padding-right: 80px;
}
.goods-category-header__title{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
    color: #444F62;
  }
.goods-category-header__description{
  color: #495057;
  font-size: 1rem;
  line-height: 1.45;
  margin-top: 10px;
  padding-bottom: 20px;
}
.goods-category-main{
  margin:0 auto;
  margin-top: 30px;
  max-width: 1600px;
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 80px;
}
.goods-category-main__container{
  display: flex;
  border-top: 1px solid #d2d2d2;
}
.goods-category-main__list{
  padding-left:20px;
  width:100%;
}






