<div class = "breadcrumb-nav-container">
  <p-breadcrumb class="max-w-full"
                [model]="items" [home]="home">
  </p-breadcrumb>
</div>

<div class = "goods-category-header">
  <h1 class = "goods-category-header__title">{{subcategoryTitle}}</h1>
  <p class = "goods-category-header__description">{{subcategoryDescription}}</p>
</div>

<div class="goods-category-main">
  <div class = "goods-category-main__container">

    <app-aside-filter></app-aside-filter>

    <main class="goods-category-main__list">

      <app-goods-list></app-goods-list>

    </main>
  </div>

</div>



