:host ::ng-deep{
 #main-carousel .p-carousel-container{
    max-width: 1800px;
    margin: auto;
    max-height: 465px;
  }

  #main-carousel .p-overlay-badge .p-badge {
  position: absolute;
  top: 100px;
  right: 100px;
}

  #main-carousel .p-badge{
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 2rem;
    border-radius:100%;
    background:#A42014
  }

  #main-carousel .p-button {
    background: #FE9E6C;
    border: 1px solid #FE9E6C;
    display:flex;
    margin:auto;
    width:150px;
 }
  #main-carousel .p-button-label{
    font-size:1.2rem;
  }
  #main-carousel .p-button:enabled:active{
    background: #F2864E;
    border: 1px solid #F2864E;
  }
  #main-carousel .p-button:enabled:hover {
    background: #F2864E;
    border-color: #F2864E;
  }
  #main-carousel .p-button:focus {
    box-shadow: none;
  }
}

.main-carousel__img{
  max-width: 100%;
  height:auto;
  }
.main-carousel__link{
  text-decoration: none;
}

.col-9{
  padding: 0;
}
.card-title{
  font-size: 3rem;
  font-weight: 700;
  font-style:italic;
  text-align: center;
}

.card-text:last-child {
  font-size: 1.3rem;
  padding: 1rem;
  color: #555754d1;
  font-weight: 600;
  text-align:center;
}

#main-carousel a{
  display:block;
   }

.best-choice-carousel__section{
  display:flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom:10rem;
  }
:host ::ng-deep{
  #best-choice-carousel .p-carousel{
    max-width:1096px;
   }
  #best-choice-carousel .p-carousel-content {
    max-width:1096px;
  }
  #best-choice-carousel .p-carousel-container {
    max-width:1096px;
    background:#fff;
  }
  #best-choice-carousel .p-rating .p-rating-icon.p-rating-icon-active,
  .p-rating .p-rating-icon{
    color: #FACC83FF;
  }
#best-choice-carousel .p-rating:hover  .p-rating-icon{
    color: #F6DCB4FF;
  }

}

#best-choice-carousel a{
  display:block;
  color: var(--bs-body-color);
  text-decoration:none;
 }

#best-choice-carousel a:hover {
  color: #444F62B6;
  text-decoration: underline;

}

.best-choice-carousel__img{
  width: 184px;
}

.best-choice-carousel__title{
  min-height: 48px;
}
.basket-button{
  width: 100%;
  background: #FE9E6C;
  color: #fff;
  border: 1px solid #FE9E6C;
  height: 40px;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 600;
  border-radius: 5px;
}
.basket-button:hover {
  background: #F2864E;
  border: 1px solid #F2864E;
}

.best-choice__section__title h3{
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: #444F62;
  margin-bottom: 1.5rem;
}




