
<p-carousel id = "main-carousel" [value]="offers" [numVisible]="1" [numScroll]="1"
            [circular]="false"
            [showIndicators] = "false"
            [autoplayInterval] = 2500>
  <ng-template let-offer pTemplate="offer">
    <div class="card mb-3">
      <div class="row g-0">
        <div [ngStyle]="{'background-color':offer.id ==='summer'?'#F0EAE2': '#FFDA5FC7'}" class="col-3">
          <a class ="main-carousel__link" href="#">
            <div class="card-body">
              <h5 [ngStyle]="{'color':offer.id ==='summer'?'#4f8dad': '#c06220'}"  class="card-title">{{offer.title}}</h5>
              <p class="card-text">{{offer.description}}</p>
            </div>
          </a>
         <p-button label = "Купить" styleClass="p-button-rounded p-button-raised"
         (onClick)="onBuyButtonClick(offer.id)"></p-button>
        </div>

        <div class="col-9" >
        <a href="#">
          <img  class = "main-carousel__img "src="./assets/img/home-page-carousel/{{ offer.img }}" [alt]="offer.title"/>
        </a>
        </div>

   <!--   <div  pBadge [value] = "'Sale'" class="col-9 "></div>-->
      </div>
    </div>
    </ng-template>
</p-carousel>

  <section class = "best-choice-carousel__section">
    <p-carousel id = "best-choice-carousel" [value]="bestChoiceGoodsColl" [numVisible]="5" [numScroll]="5"
                [circular]="false"
                [showIndicators] = "false">
      <ng-template pTemplate="header">
        <div class ="best-choice__section__title">
          <h3>Отличный выбор</h3>
        </div>
      </ng-template>
      <ng-template let-choice pTemplate="choice">

        <div class="product-item">
          <div class="product-item-content">
            <div class="mb-3 p-2">
              <a [routerLink]="['/handmade',choice.categoryUrl,choice.subcategoryUrl, choice.product_number]"
                 [state]="{id:choice._id}">
                <img class = "best-choice-carousel__img" src="http://localhost:3000/public/{{choice.categoryUrl}}/{{choice.subcategoryUrl}}/{{choice.img }}" alt ="{{choice.title}}"/>
              </a>
            </div>
            <div class="p-2">
             <div class="best-choice-carousel__title">
                <a [routerLink]="['/handmade',choice.categoryUrl,choice.subcategoryUrl, choice.product_number]"
                   [state]="{id:choice._id}">{{choice.title}}</a>
             </div>
             <div class = "mt-2 fw-bold">
                <p>
                  <span>{{choice.price}} руб.</span>
                </p>
              </div>
              <div>
                <a class = "rating__link" [routerLink]="['/handmade',choice.categoryUrl,choice.subcategoryUrl, choice.product_number]"
                   [state]="{id:choice._id}">
                  <p-rating [(ngModel)]="choice.total_rating" [readonly]="true" [cancel]="false"></p-rating>
                </a>
              </div>
              <div>
                <button class = "basket-button"type="button">
                  <svg width="25" height="25" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.75 6.5H18.25C18.25 3 15.5 0.25 12 0.25C8.5 0.25 5.75 3 5.75 6.5H3.25C1.875 6.5 0.75 7.625 0.75 9V24C0.75 25.375 1.875 26.5 3.25 26.5H20.75C22.125 26.5 23.25 25.375 23.25 24V9C23.25 7.625 22.125 6.5 20.75 6.5ZM12 2.75C14.125 2.75 15.75 4.375 15.75 6.5H8.25C8.25 4.375 9.875 2.75 12 2.75ZM20.75 24H3.25V9H20.75V24ZM12 14C9.875 14 8.25 12.375 8.25 10.25H5.75C5.75 13.75 8.5 16.5 12 16.5C15.5 16.5 18.25 13.75 18.25 10.25H15.75C15.75 12.375 14.125 14 12 14Z" fill="#fff"/>
                  </svg>
                  <span>В корзину</span>
                </button>
              </div>
            </div>
          </div>
        </div>

      </ng-template>
    </p-carousel>
  </section>




