<div class = "breadcrumb-nav-container">
  <p-breadcrumb class="max-w-full"
                [model]="items" [home]="home">
  </p-breadcrumb>
</div>

<main>
  <section class = "goods-card-section">

    <div class = "goods-card-container">

      <section *ngIf="goodsItemObj" class = "goods-card-img">

        <div class = "goods-card-img-container">
          <div>
              <img  (click)="displayBasic = true" class = "goods-item-img"
                  src="http://localhost:3000/public/{{categoryUrl}}/{{subcategoryUrl}}/{{goodsItemObj.img }}" alt ="{{goodsItemObj.title}}"/>
          </div>
          <p-galleria [value]="images" [(visible)]="displayBasic"
                      [containerStyle]="{ 'width': '100%'}" [numVisible]="2" [circular]="true" [fullScreen]="true" [showItemNavigators]="true"
                      [thumbnailsPosition]="position">
            <ng-template pTemplate="item" let-item>
              <img [src]="item.itemImageSrc"/>
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
              <div class="grid grid-nogutter justify-content-center">
                <img [src]="item.thumbnailImageSrc" style="width: 90%"/>
              </div>
            </ng-template>
          </p-galleria>
          <div>
            <img (click)="displayBasic = true" class = "goods-item-img-thumb" src="http://localhost:3000/public/{{categoryUrl}}/{{subcategoryUrl}}/{{goodsItemObj.img_thumb }}" alt ="{{goodsItemObj.img_thumb}}"/>
          </div>

        </div>
      </section>


      <section *ngIf="goodsItemObj" class = "goods-card-detail">

        <div>
          <h1 class = "goods-card-detail-title">{{goodsItemObj.title}} {{goodsItemObj.size}}</h1>
        </div>
        <div class = "goods-card-detail-rating__container">
          <a [routerLink]="['/handmade',categoryUrl,subcategoryUrl,goodsItemObj.product_number]" [fragment]="'rating'"
          (click)="goToRatingSection()">
            <p-rating [(ngModel)]="goodsItemObj.total_rating" [readonly]="true" [cancel]="false"></p-rating>
            <span class="goods-card-detail-rating">Оценить товар</span>
          </a>
        </div>
        <div class = "goods-card-form">

          <div class = "goods-card-price">
            <p> {{goodsItemObj.price}} руб.</p>
          </div>

          <div class = "goods-card-actions">
            <div class ="goods-card-quantity">
              <div class ="goods-card-label">
                <label for="quantity">Количество</label>
              </div>
              <div class = "goods-card-stepper">
                <button class="goods-card-stepper-button"
                        [disabled]="minusButtonState"
                        [ngClass]="minusButtonState? 'button-disabled': ''"
                        (click)="decreaseQuantity()">
                  <i class="pi pi-minus " style="color: #000000;"></i>
                </button>
                <input  type="text" id="quantity" [formControl] = "quantity"
                        readonly = "readonly" class = "goods-card-stepper-input">
                <button class="goods-card-stepper-button"
                        [disabled]="plusButtonState"
                        [ngClass]="plusButtonState? 'button-disabled': ''"
                (click)="increaseQuantity()">
                  <i class="pi pi-plus" style="color: #000000;"></i>
                </button>
              </div>
            </div>
            <button class = "goods-card-busket-button"
            (click)="goodsItemToCart()">
              <svg width="25" height="25" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.75 6.5H18.25C18.25 3 15.5 0.25 12 0.25C8.5 0.25 5.75 3 5.75 6.5H3.25C1.875 6.5 0.75 7.625 0.75 9V24C0.75 25.375 1.875 26.5 3.25 26.5H20.75C22.125 26.5 23.25 25.375 23.25 24V9C23.25 7.625 22.125 6.5 20.75 6.5ZM12 2.75C14.125 2.75 15.75 4.375 15.75 6.5H8.25C8.25 4.375 9.875 2.75 12 2.75ZM20.75 24H3.25V9H20.75V24ZM12 14C9.875 14 8.25 12.375 8.25 10.25H5.75C5.75 13.75 8.5 16.5 12 16.5C15.5 16.5 18.25 13.75 18.25 10.25H15.75C15.75 12.375 14.125 14 12 14Z" fill="#fff"/>
              </svg>
              <span class ="goods-card-busket-button-title">В корзину</span>
            </button>

          </div>
        </div>

        <p-accordion [activeIndex]="0">
          <p-accordionTab header="Описание">
            <p>
              {{goodsItemObj.description}}
            </p>
            <p>Артикул: {{goodsItemObj.product_number}}</p>

          </p-accordionTab>
          <p-accordionTab header="Характеристики">
            <ul>
               <li *ngIf="goodsItemObj.size">
                  <span class="goods-card-property-title">Размер:</span> {{goodsItemObj.size}}
              </li>
              <li *ngIf="goodsItemObj.weight">
                   <span class="goods-card-property-title">Вес:</span> {{goodsItemObj.weight}}
               </li>
              <li *ngIf="goodsItemObj.color" >
                  <span class="goods-card-property-title">Цвет:</span> {{goodsItemObj.color}}
                </li>
              <li *ngIf="goodsItemObj.pack">
                  <span class="goods-card-property-title">Упаковка:</span> {{goodsItemObj.pack}}
                </li>
            </ul>
           </p-accordionTab>
        </p-accordion>

      </section>
    </div>

    <section id="rating" class="goods-card-rating">
      <div>
        <h2 class = "goods-card-rating-title">Оценить товар</h2>
      </div>
      <div class="mb-5">
        <p-rating [(ngModel)]="setRating" [readonly]="false"></p-rating>
      </div>

     <p-toast></p-toast>
      <button (click)="evaluateGoodsItem()" class = "goods-card-rating-button">Оценить</button>
    </section>

  </section>


</main>



