:host::ng-deep{
  .p-breadcrumb{
    border: none;
  }
  .p-breadcrumb ul{
   }
  .p-breadcrumb ul li .p-menuitem-link:focus,
  .p-breadcrumb ul li .p-menuitem-link:hover{
    box-shadow: none;
    text-decoration: underline;
    color: #495057;
     }
  .p-breadcrumb ul li:last-child >.p-menuitem-link{
    cursor: default;
    text-decoration: none;
    font-weight: 600;
  }
  .p-galleria-item-container{
    width: 700px;
    height: 700px;
  }
  .p-galleria-item > img{
    width: 100%;
  }
   .p-galleria .p-galleria-thumbnail-container {
    background: #fff;
  }
  .p-galleria-thumbnail-item{
    overflow: hidden;
  }
  .p-galleria-thumbnail-items-container{
  height:900px!important;
  }
  .p-galleria-thumbnails-left .p-galleria-content, .p-galleria-thumbnails-right .p-galleria-content, .p-galleria-thumbnails-left .p-galleria-item-wrapper, .p-galleria-thumbnails-right .p-galleria-item-wrapper{
    align-items: center;
  }
  .p-galleria-thumbnails-left p-galleriaitem, .p-galleria-thumbnails-top p-galleriaitem{
    margin: auto;
  }

  .p-galleria-thumbnails-left .p-galleria-thumbnail-items, .p-galleria-thumbnails-right .p-galleria-thumbnail-items{
    height: auto;
  }
  .p-galleria-thumbnails-left p-galleriathumbnails, .p-galleria-thumbnails-top p-galleriathumbnails{
    width:200px;
  }
  .p-galleria-mask{
      --maskbg: #fff;
   }
  .p-galleria .p-galleria-close {
    color: var(--text-color);
   }

  .p-galleria .p-galleria-item-nav {
    color: var(--text-color-secondary);
    }
  .p-rating .p-rating-icon.p-rating-icon-active,
  .p-rating .p-rating-icon{
    color: #FACC83FF;
  }
  .p-rating:hover .p-rating-icon{
    color: #F6DCB4FF;
  }

 .p-rating .p-rating-icon.p-rating-cancel {
    color: #ea5455!important;
  }

  .goods-card-rating .p-rating .p-rating-icon.p-icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  .goods-card-rating .p-rating:not(.p-disabled):not(.p-readonly) .p-rating-icon:hover {
    color: #F6DCB4FF;
  }

  .p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus{
    box-shadow: 0 0 0 0.2rem rgba(117, 117, 117, 0.25);
    border-color:rgba(117, 117, 117, 0.47);
  }
 }

.breadcrumb-nav-container{
  margin: 0 auto;
  max-width: 1735px;
}

.goods-card-section{
  margin: 0 auto;
  margin-top: 30px;
  max-width: 1600px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 30px;
  }

.goods-card-container{
  display:flex;
  width: 75%;
  margin:auto;
}
.goods-card-img{
  width:60%;
  padding-right: 20px;
}
.goods-card-detail{
  width:40%;
  margin-top:30px;
  }
.goods-card-img-container{
  display:flex;
  flex-wrap: wrap;
  }
.goods-item-img{
  width: 100%;
  display: block;
  margin-bottom: 30px;
}
.goods-item-img-thumb {
  width: 70%;
  display: block;
  margin-top: 30px;
  margin-bottom: 60px;
}
.goods-card-detail-title{
    font-size: 24px;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 10px;
 }
.goods-card-detail-rating{
  margin-left: 1rem;
  color:#000000FF;
  text-decoration: underline;
  }

.goods-card-detail-rating:hover {
  color: #444F62B6;
  text-decoration: underline;
}
.goods-card-detail-rating__container{
  margin: 10px 0 25px;
}

.goods-card-price{
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 700;
 }

.goods-card-actions{
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
     margin: 20px 0;
  }

.goods-card-quantity{
  padding-right: 1.5rem;
}
.goods-card-label{
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 8px;
  }

.goods-card-stepper{
  display: flex;
  width:125px;
}
.button-disabled> i{
  color: #acacac!important;
}

.goods-card-stepper-button{
    border: 1px solid #acacac;
    color: #000000FF;
    cursor: pointer;
    display: block;
    line-height: 39px;
    min-height: 41px;
    min-width: 41px;
    text-align: center;
    touch-action: manipulation;
    background-color: #fff;
 }

.goods-card-stepper-input{
    appearance: none;
    border-color: #acacac;
    border-radius: 0;
    border-style: solid;
    border-width: 1px 0;
    box-shadow: none;
    font-size: 15px;
    font-weight: 500;
    min-height: 41px;
    min-width: 41px;
    padding: 0;
    text-align: center;
    width: 100%;
    background-color: #fff;
 }
.goods-card-stepper-input:focus,
.goods-card-stepper-input:focus-visible{
  appearance: none;
  outline: none;
}
.goods-card-stepper-button:active{
  box-shadow: 0 0 0 0.2rem rgba(117, 117, 117, 0.25);
  border-color:rgba(117, 117, 117, 0.47);
  transform: scale(0.98);
}
.goods-card-stepper-button.button-disabled:active{
  box-shadow: none;
  transform: none;
  border-color: #acacac;
}

.goods-card-busket-button{
  flex: 1;
  background: #FE9E6C;
  color: #fff;
  border: 1px solid #df9067;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  display: flex;
  border-radius: 40px;
  height:40px;
  transition: transform .5s ease-in-out;
}
.goods-card-busket-button:hover {
  background: #F2864E;
  border: 1px solid #F2864E;
}

.goods-card-busket-button:active{
  background: #F2864E;
  border: 1px solid #F2864E;
  transform: scale(0.70);
  transition: transform .5s ease-in-out;

}
.goods-card-busket-button-title{
  padding-left: 1rem;
}

.goods-card-property-title{
  font-weight: 700;
}

.goods-card-rating{
  display:flex;
  flex-direction: column;
  align-items:center;
  margin-top:80px;
  margin-bottom:150px;
}

.goods-card-rating-button{
  background: #30A8B4;
  color: #fff;
  border: 1px solid #2F9CA6FF;;
  font-weight: 600;
  border-radius: 40px;
  height:40px;
  width: 272px;
  transition: transform .5s ease-in-out;
}

.goods-card-rating-button:hover{
  background: #2A8E98FC;
  border: 1px solid #277F88FC;
}

.goods-card-rating-button:active{
  background: #2A8E98FC;
  border: 1px solid #277F88FC;
  transform: scale(0.70);
  transition: transform .5s ease-in-out;
}
.goods-card-rating-title{
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: #444F62;
  margin-bottom: 2.5rem;
}
