.search__container{
  display:flex;
  flex-direction:column;
  background-color:#fff;
  margin: 0 auto;
  max-width:1300px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content:center;
}
.search__form{
  display: flex;
  font-size: 15px;
  margin: .5rem;
  width: 100%;
  margin-bottom: 2rem;

}
.search__input{
  border: 1px solid rgba(117, 117, 117, 0.47);
  border-bottom-left-radius: 18px;
  border-top-left-radius: 18px;
  line-height: 38px;
  padding: 0 0 0 20px;
  text-align: left;
  width: 100%;
  outline-offset: 0;
  }
.search__input:focus-visible{
  outline:#30A8B4 solid .5px;
}

.button_search_inner{
  align-items: center;
  border: none;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  text-align: center;
  align-self: stretch;
  background: #30A8B4;
  border-bottom-right-radius: 18px;
  border-top-right-radius: 18px;
  color: #fff;
  width: 45px;
   }
.button_search_inner__span{
  margin-bottom: 7px;
}

.button_search_inner:hover{
  background: #2A8E98FC;
}

.clear__button{
  display:flex;
  text-decoration: underline;
  color: #acacac;
  font-size: 1rem;
  font-weight: 600;
  border:none;
  background-color:transparent;
  position: absolute;
  right:480px;
  top: 13px;
}
.clear__button__visible{
 display: none;
}
.search__footer{
  padding: 12px 0 32px;
}
.search__footer__inner{
  display:grid;
  grid-gap: 20px;
  grid-template-columns: [grid-start] repeat(12, 1fr) [grid-end];
}
.search__footer__suggest{
  grid-column: span 6;
}

.search__footer__suggest h5{
  border-bottom: 1px solid rgba(117, 117, 117, 0.47);;
  color: #444F62;
  font-size: 17px;
  font-weight:700;
  margin-bottom: 24px;
  padding-bottom: 4px;
}
.suggest__options{
  display:flex;
  flex-wrap: wrap;
  font-size: 15px;
}
.suggest__options__links{
  display: inline-flex;
  flex-direction: column;
  font-size: 15px;
}
.suggest__chip {
  background: #30A8B4;
  line-height: 1;
  margin-right: 16px;
  margin-bottom: 16px;
  border-radius: 40px;
  color: #fff;
  display: inline-flex;
  font-weight: 500;
  height: 40px;
  padding: 12px 25px;
  text-decoration: none;
   }
.suggest__chip:hover{
  background: #2A8E98FC;
}
.suggest__link{
  margin-bottom: 16px;
  text-decoration: none;
  color: #444F62;
}
.suggest__link:hover{
  text-decoration: underline;
  font-weight: 600;
}

.product-suggestion{
  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
  color: #000;
  display: flex;
  margin: 0 30px 12px 0;
  text-decoration: none;
  max-width: 500px;
  }

.product-img-wrap{
  background: #f2f2f2;
  max-width: 100%;
  width: 124px;
  }

.product-img{
  color: #f2f2f2;
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
  padding: .5rem;
  }

.product-info{
   margin: 12px 16px 12px 12px;
}

.product-title{
 overflow: hidden;
 font-size: 1.2rem;
 font-weight: 500;
 margin: 0;
 margin-bottom: 8px;
}
.product-price{
 font-size: 1.2rem;
 margin-bottom: 8px;
 display: flex;
 font-weight: 700;
 }
.product-rating{

}
