<div class="search__container">
  <div>
    <form class ="search__form">
      <input type="text" class="search__input"
             [formControl]="userSearchInput"/>
      <button type="button" class ="clear__button"
              [class.clear__button__visible]="clearButtonVisible()"
              (click)="clearSearchModal()">Очистить</button>
      <button type="button" class="button_search_inner">
      <span class="button_search_inner__span ">
         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" fill="#fff" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
      </span>
      </button>
    </form>
  </div>

  <div class="search__footer">
    <div class="search__footer__inner">
      <div *ngIf="goodsCategoryArr" class="search__footer__suggest">
          <h5>Рекомендуемые категории</h5>

        <div *ngFor="let catItem of goodsCategoryArr" class="suggest__options" >
          <a [routerLink]="['/handmade',catItem.categoryUrl,catItem.subcategoryUrl]"
             class="suggest__chip"
          (click)="getModalVisibility(false)">{{catItem.category}}
          </a>
          <a [routerLink]="['/handmade',catItem.categoryUrl,catItem.subcategoryUrl]"
             class="suggest__chip"
             (click)="getModalVisibility(false)">{{catItem.subcategory}}</a>
        </div>
      </div>

      <div  *ngIf="goodsItemSearchCol" class="search__footer__suggest">
        <h5>Товары</h5>
        <a *ngFor="let item of goodsItemSearchCol"
          [routerLink]="['/handmade',item.categoryUrl,item.subcategoryUrl, item.product_number]"
           [state]="{id:item._id}"
           class ="product-suggestion"
           (click)="getModalVisibility(false)"> <!--здесь должна быть ngFor и ngIf выше блоком-->
            <div class = "product-img-wrap">
              <img class = "product-img" src="http://localhost:3000/public/{{item.categoryUrl}}/{{item.subcategoryUrl}}/{{item.img }}"  alt="">
            </div>
            <div class="product-info">
                <h3 class = "product-title">{{item.title}}</h3>
                 <div class = "product-price">
                   <span>{{item.price}} руб.</span>
                 </div>
            </div>
        </a>
      <!--  <div *ngIf="fivePopularCategories" class="suggest__options__links">
          <a href="#" class="suggest__link" *ngFor="let item of fivePopularCategories">{{item.name}}</a>
        </div>-->

     </div>
    </div>

    </div>

  </div>









