:host ::ng-deep {
  .card{
    flex-direction: row;
    justify-content: center;
    position: sticky;
    top: -0.1px;
    z-index: 4;
  }

  .p-menubar{
    font-weight:500;
    min-width: 1702px;
       }
  .p-menubar .p-menuitem {
    min-width: 200px;
  }

  .p-menuitem-link:not(.p-disabled):hover,
  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover{
    background: none;
    text-decoration: underline 1.2px;
    }

  .p-menubar .p-menubar-root-list > .p-menuitem > #discount .p-menuitem-text {
    color: #FE9E6C;
  }
  .p-menubar .p-menubar-root-list > .p-menuitem > #discount .p-menuitem-icon{
    color: #FE9E6C;
  }

  #discount:not(.p-disabled):hover,
  #discount .p-menuitem-icon:not(.p-disabled):hover,
  .p-menubar .p-menubar-root-list > .p-menuitem >#discount :not(.p-disabled):hover,
  .p-menubar .p-menubar-root-list > .p-menuitem > #discount .p-menuitem-icon:not(.p-disabled):hover{
   color: #FE9E6C;
   text-decoration: underline 1.2px;
  }

  .p-menubar .p-menubar-root-list > .p-menuitem > #occasion .p-menuitem-text {
    color: #30A8B4;
  }
  #occasion .p-submenu-icon,
  .p-menubar .p-menubar-root-list > .p-menuitem > #occasion .p-submenu-icon{
    color: #30A8B4;
  }

   #occasion:not(.p-disabled):hover,
   #occasion .p-submenu-icon:hover,
  .p-menubar .p-menubar-root-list > .p-menuitem >#occasion :not(.p-disabled):hover,
   .p-menubar .p-menubar-root-list > .p-menuitem > #occasion .p-submenu-icon:not(.p-disabled):hover {
    color: #30A8B4;
    text-decoration: underline 1.2px;
  }

  .p-menubar .p-menubar-root-list > .p-menuitem > #idea .p-menuitem-text {
    color: #30A8B4;
  }

  .p-menubar .p-menubar-root-list > .p-menuitem > #idea .p-menuitem-icon{
    color: #30A8B4;
  }

  #idea .p-submenu-icon,
  .p-menubar .p-menubar-root-list > .p-menuitem > #idea .p-submenu-icon{
    color: #30A8B4;
  }

  #idea:not(.p-disabled):hover,
  #idea .p-submenu-icon:hover,
  .p-menubar .p-menubar-root-list > .p-menuitem >#idea :not(.p-disabled):hover,
  .p-menubar .p-menubar-root-list > .p-menuitem > #idea .p-submenu-icon:not(.p-disabled):hover {
    color: #30A8B4;
    text-decoration: underline 1.2px;
  }

  .p-menuitem-link:focus,
  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:focus{
    box-shadow: none;
  }
   .p-menubar a:not(#discount,#occasion,#idea):hover,
   .p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text,
   .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover,
   .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text,
   .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link .p-submenu-icon, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover .p-submenu-icon{
     color: #495057;
    }
  .p-menuitem:not(.p-menuitem:last-child){
    border-right: 1px solid #0000002d;
           }
  }


/*
//выделение пункта меню фоном при наведении - отключено
:host ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover  {
  background: none;
}

//выделение пункта меню рамкой - box-shadow при наведении - отключено
:host ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:focus {
  box-shadow: none;
}

:host ::ng-deep .p-menubar .p-menuitem-link:focus{
  box-shadow: none;
}

  //выделение пунктов выпадающего меню голубым цветом - ссылки при наведении - отключено
:host ::ng-deep .p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text {
  color:#495057!important;
  text-decoration: underline;
}

//пункт распродажа при наведении
:host ::ng-deep.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > #discount .p-menuitem-text,
.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > #discount:not(.p-disabled):hover .p-menuitem-text{
  color:#FE9E6C!important;
}

//пункт особые случаи при наведении
:host ::ng-deep.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > #occasion .p-menuitem-text,
.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > #occasion:not(.p-disabled):hover .p-menuitem-text{
  color:#30A8B4!important;
}

:host ::ng-deep.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > #idea .p-menuitem-text,
.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > #idea:not(.p-disabled):hover .p-menuitem-text{
  color:#30A8B4!important;
}
//вывеление пунктов главного меню (не выпадающих) голубым цветом -ссылки при наведении - отключено
:host ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text{
  color:#495057;
  font-weight: 500;
  text-decoration: underline;
}

//вывеление иконок пунктов главного меню (не выпадающих) голубым цветом -ссылки при наведении - отключено
:host ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-icon,
.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon {
  color:#495057;
  font-weight: 500;
}

//иконка-стрелка вниз пункта особые случаи при наведении
:host ::ng-deep.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > #occasion .p-submenu-icon, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > #occasion:not(.p-disabled):hover .p-submenu-icon{
  color:#30A8B4!important;
}

//иконка-стрелка вниз пункта идеи для творчества при наведении
:host ::ng-deep.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > #idea .p-submenu-icon, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > #idea:not(.p-disabled):hover .p-submenu-icon{
  color:#30A8B4!important;
}
//вывеление иконок - стрелок вниз пунктов главного меню (не выпадающих) голубым цветом -ссылки при наведении - отключено
:host ::ng-deep.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link .p-submenu-icon, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover .p-submenu-icon{
  color:#495057!important;
}

//выравнивание пунктов главного меню по центру
:host ::ng-deep.card{
  flex-direction: row;
  justify-content: center;
}

:host ::ng-deep.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text{
  font-weight:500;
}

:host ::ng-deep.p-menubar .p-menubar-root-list > .p-menuitem > #discount .p-menuitem-text{
  color:#FE9E6C;

}

:host ::ng-deep.p-menubar .p-menubar-root-list > .p-menuitem > #discount .p-menuitem-icon{
  color:#FE9E6C;
}


:host ::ng-deep.p-menubar .p-menubar-root-list > .p-menuitem > #occasion .p-menuitem-text{
  color:#30A8B4;
}

:host ::ng-deep.p-menubar .p-menubar-root-list > .p-menuitem > #occasion .p-submenu-icon{
  color:#30A8B4;
}
:host ::ng-deep.p-menubar .p-menubar-root-list > .p-menuitem > #idea .p-menuitem-text{
  color:#30A8B4;
}

:host ::ng-deep.p-menubar .p-menubar-root-list > .p-menuitem > #idea .p-menuitem-icon{
  color:#30A8B4;
}

:host ::ng-deep.p-menubar .p-menubar-root-list > .p-menuitem > #idea .p-submenu-icon{
  color:#30A8B4;
}*/
