<div class="landing__container">
  <header>
    <app-header></app-header>
  </header>

  <main class="landing__main__section">

    <div class="card">
      <p-menubar [model]="items"
                 [autoHide]="true"
                 [autoDisplay] = "true">

      </p-menubar>
    </div>
       <router-outlet></router-outlet>
  </main>

  <footer>
    <app-footer></app-footer>
  </footer>
</div>

