<body class = "order-page">
   <header class = "py-0">
     <div class="oder-header">
       <div class = "oder-header__logo">
         <a href="#" class="logo__link">
           <img class = "logo__img" src="./assets/img/logo.png" alt="Ручная работа" class="logo__img">
         </a>
       </div>
     </div>
 </header>

   <div class = "breadcrumb-nav-container">
     <p-breadcrumb class="max-w-full"
                   [model]="items" [home]="home">
     </p-breadcrumb>
   </div>

    <div class = "order__main__section">

        <div class = "oder__main-container">
          <div class = "checkout-content">
             <section class = "checkout-section">
              <div class = "checkout-form-container">
                <h2 class = "checkout-form-title">Доставка</h2>
                <div class = "check-out-content">
                  <form [formGroup] = "orderForm"
                        (ngSubmit)="onSubmit()">
                    <div class = "checkout-form-subtitle__container">
                      <h3 class = "checkout-form-subtitle">Адрес доставки</h3>
                    </div>
                    <div>
                    <p class = "check-out-note">*Обязательное поле</p>
                    </div>

                      <div class = "flex">
                        <div class = "checkout-form-field">
                          <label for="firstName" class = "checkout-field-label">Имя*</label>
                          <input class="checkout-input" type="text"
                                  name="firstName"
                                  id="firstName"
                                  [ngClass]="isValid('firstName')?'isvalid':''"
                                   formControlName = "firstName">
                        </div>
                      </div>

                       <div class = "flex">
                        <div class = "checkout-form-field">
                          <label for="secondName" class = "checkout-field-label">Отчество</label>
                          <input class = "checkout-input"
                                 type="text"
                                 name="firstName"
                                 id="secondName"
                                 formControlName = "secondName">
                        </div>
                      </div>

                      <div class = "flex">
                        <div class = "checkout-form-field">
                          <label for="lastName" class = "checkout-field-label">Фамилия*</label>
                          <input class = "checkout-input"
                                 type="text"
                                 name="firstName"
                                 id="lastName"
                                 [ngClass]="isValid('lastName')?'isvalid':''"
                                 formControlName = "lastName">
                        </div>
                      </div>

                      <div class = "flex">
                        <div class = "checkout-form-field">
                          <label for="mobile" class = "checkout-field-label">Мобильный телефон*</label>
                          <p-inputMask mask="+7(999) 999-9999"
                                       formControlName = "mobile"
                                       placeholder="+7(999) 999-9999"
                                       id ="mobile"
                                       [required]="required"></p-inputMask>
                        </div>
                      </div>

                      <div class = "flex">
                        <div class = "checkout-form-field">
                          <label for="index" class = "checkout-field-label">Индекс</label>
                          <p-inputMask mask="999999"
                             formControlName = "index"
                             placeholder="999999"
                             id ="index"></p-inputMask>
                        </div>
                      </div>

                      <div class = "flex">
                        <div class = "checkout-form-field">
                          <label for="region" class = "checkout-field-label">Область*</label>
                          <input class = "checkout-input"
                                 type="text"
                                 name="firstName"
                                 id="region"
                                 [ngClass]="isValid('region')?'isvalid':''"
                                 formControlName = "region">
                        </div>
                      </div>

                      <div class = "flex">
                        <div class = "checkout-form-field">
                          <label for="city" class = "checkout-field-label">Город*</label>
                          <input class = "checkout-input"
                                 type="text"
                                 name="firstName"
                                 id="city"
                                 [ngClass]="isValid('city')?'isvalid':''"
                                 formControlName = "city">
                        </div>
                      </div>

                      <div class = "flex">
                        <div class = "checkout-form-field">
                          <label for="address" class = "checkout-field-label">Адрес*</label>
                          <input class = "checkout-input"
                                 type="text"
                                 name="firstName"
                                 id="address"
                                 [ngClass]="isValid('address')?'isvalid':''"
                                 formControlName = "address">
                        </div>
                      </div>

                    <div class = "checkout-button-container">
                      <button type ="submit" class = "checkout-button"
                              (click)="initOrder()"
                              [disabled]="!orderForm.valid">Заказать</button>
                   <p-dialog [(visible)]="visible"
                             [modal]="true"
                             (onHide)="closeOrderForm()"
                             [style]="{ width: '50vw' }">
                        <p class="order-confirm">Заказ оформлен!</p>
                        <p class = "order-number-info">Номер заказа <span class = "order-number">{{orderNumber}}</span></p>
                        <ng-template pTemplate="footer">
                          <p-button icon="pi pi-check" (click)="visible = false" label="Ok" styleClass="p-button-text"></p-button>
                        </ng-template>
                   </p-dialog>
                    </div>
                  </form>
                 </div>
              </div>
            </section>
           <aside class = "checkout-aside">
              <div class = "checkout-aside-container" >
                <h2 class="checkout-aside-title">Ваш заказ</h2>
                <p-table id = "total" [value]="orderTotal" [tableStyle]="{ 'min-width': '200px', 'backgrounf': '#f2f2f2'}">
                  <ng-template pTemplate="body" let-item>
                    <tr>
                      <td>
                        <div class = "goods-item-info">
                          <p>Заказ:</p>
                        </div>
                      </td>
                      <td>
                        <div class = "goods-item-info">
                          <p> {{item.order}}руб.</p>
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <div class = "goods-item-info">
                          <p>{{item.delivery_type}}:</p>
                        </div>
                      </td>
                      <td>
                        <div class = "goods-item-info">
                          <p>{{item.delivery_price}}руб.</p>
                        </div>
                      </td>
                    </tr>


                    <tr>
                      <td>
                        <div class = "goods-item-info fw-bold">
                          <p>ИТОГО:</p>
                        </div>
                      </td>
                      <td>
                        <div class = "goods-item-info fw-bold">
                          <p>{{item.total}}руб.</p>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </aside>

          </div>

        </div>

    </div>


    <footer></footer>
</body>



