:host::ng-deep {
  #total .p-datatable-thead tr {
    background: #f2f2f2;
  }
  #total .p-datatable-tbody tr{
    background: #f2f2f2;
  }
  #total .p-datatable {
    position: relative;
    margin-bottom: 4rem;
  }
  .p-breadcrumb{
    border: none;
  }
  .p-breadcrumb ul{
    font-weight: 600;
  }
  .p-breadcrumb ul li .p-menuitem-link:focus,
  .p-breadcrumb ul li .p-menuitem-link:hover{
    box-shadow: none;
    text-decoration: none;
    cursor: default;

  }
  .p-breadcrumb ul li:first-child >.p-menuitem-link {
    cursor: pointer;
    font-weight: 400;
  }
  .p-inputtext {
    font-size: 13px;
    color: #000;;
    background: #ffffff;
    padding: 0 10px;
    border: 1px solid #acacac;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 6px;
    height: 40px;
    width: 100%;
    vertical-align: baseline;
   }
  .p-inputtext:enabled:focus {
    outline: none;
    border: 2px solid #2F9CA6FF;
    outline-offset: 0;
    box-shadow: none;
   }
  .p-inputtext:enabled:hover {
    border-color: #2F9CA6FF;
  }
}
.breadcrumb-nav-container{
  margin-top:.5rem;
  max-width: 1735px;
}
.order-page{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
 // min-width: 360px;
  overflow-y: scroll;
  padding: .01px 0 0;
  background: #fff;
 }

.oder-header{
  display:flex;
  margin:0 auto;
  max-width: 1420px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  padding-top: .7rem;
  padding-bottom: .7rem;
}

.oder-header__logo{
  min-width:442px;
 }

.logo__link{
  height: 100%;
  display: block;
}

.logo__img{
  width:30%;
}
.order__main__section{
  flex: 1;
}
.oder__main-container{
    margin: 0 auto;
    max-width: 1600px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top:  40px;
 }

.checkout-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }

.checkout-section{
   width: 66.6666666667%;
 }

.checkout-aside{
    padding-left: 20px;
    width: 33.3333333333%;
}
.checkout-form-container{
    background: #fff;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
    margin-bottom: 120px;
}

.checkout-aside-container{
    background: #f2f2f2;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
    padding: 20px;
}

.checkout-form-title{
  color: #444F62;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-size:1.5rem;
  font-weight: 600;
  margin-bottom:0;
  }

.check-out-content{
    border-top: 1px solid #d2d2d2;
    margin-bottom: 30px;
    padding: 32px 80px 32px;
  }

.checkout-form-subtitle__container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

.checkout-form-subtitle{
    color: #2f2f2f;
    font-size: 17px;
    font-weight: 600;
    line-height: 21px;
}

.check-out-note{
   margin-bottom: 24px;
   font-size: 12px;
}

.checkout-form-field{
  width:100%;
  margin-bottom: 24px;
}
.checkout-field-label{
   font-size: 1rem;
   line-height: 1.4;
   margin-bottom: 6px;
   color: #2f2f2f;
   display: flex;
   font-weight: 500;
}

.checkout-input{
    appearance: none;
    border: 1px solid #acacac;
    border-radius: 6px;
    color: #000;
    cursor: text;
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    vertical-align: baseline;
    width: 100%;
}

.checkout-input:focus{
  outline: none;
  border: 2px solid #2F9CA6FF;
}
.checkout-button-container{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.checkout-button{
  width: 350px;
  background: #30A8B4;
  color: #fff;
  border: 1px solid #2F9CA6FF;;
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 40px;
  height:45px;
  transition: transform .5s ease-in-out;
}
.checkout-button:hover{
  background: #2A8E98FC;
  border: 1px solid #277F88FC;
}

.checkout-button:active{
  background: #2A8E98FC;
  border: 1px solid #277F88FC;
  transform: scale(0.70);
  transition: transform .5s ease-in-out;
}

.checkout-aside-title{
  font-size: 1.5rem;
  text-align: center;
  color: #495057;
  font-weight: 700;
  margin-bottom: 2rem;
}
.goods-item-info{
  font-weight: 500;
  font-size:1.2rem;
}

button[disabled]{
  background: #30A8B4A6;
  border: 1px solid #30A8B4C5;
}
button[disabled]:hover{
 background: #30A8B4A6;
  border: 1px solid #30A8B4C5;
}
button[disabled]:active {
  background: #30A8B4A6;
  border: 1px solid #30A8B4C5;
  transform: none;
  transition: none;
}

.isvalid{
  border-color: #e24c4c;
}

.order-confirm{
  font-size: 2rem;
  text-align: center;
  color: #30A8B4;
  font-weight: 500;
}
.order-number-info{
  font-size: 2rem;
  text-align: center;
}
.order-number{
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
}


