/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeicons/primeicons.css";
body, html{
  background: #fff;
}
body{
  box-sizing: border-box;
  overflow-y: scroll;
  min-height: 100vh;
 }
.main__container{
  min-height: 100vh;
  }
.landing__container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 }
.landing__main__section{
  flex: 1;
}
header{
  min-height: 116px;
  background: rgba(252, 253, 209, 0.67);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  padding: .5rem 0 .5rem;
}
footer{
  min-height: 170px;
  background: #444F62;
}
